.main {

}

.our-work {
	background-image: url('../images/our.jpg');
	background-size: cover;
}
.their-work {
	background-image: url('../images/commision.jpg');
	background-size: cover;
	background-position: 0 -200px;
}
