<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style=""><head>
    <meta charset="utf-8">
    <title>SIZR :: Indian Web Product Development</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//ajax.googleapis.com" rel="dns-prefetch">
    <link href="{{ root_url }}/stylesheets/front.css" media="screen, projection" rel="stylesheet" type="text/css">

    <script async="" src="//www.google-analytics.com/analytics.js"></script><script src="{{ root_url }}/coamesponents/modernizr.js"></script>

  </head>
  <body style="">

    <header class="header homepage" role="banner">
     
      <nav class="nav" role="navigation">
        <ul>
          <li>
            <a class="btn" href="#ours">Ours</a>
          </li>
          <li>
            <a class="btn" href="blog">Blog</a>
          </li>
          <li>
            <a class="btn btn-danger" href="/contact.html">Hire Us</a>
          </li>
        </ul>
      </nav>

      <div class="hero text-center col-lg-8 col-lg-offset-2">
        <div class="col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4 logo">
            <img class="img-responsive" src="{{ root_url }}/images/sizrlogo.png">
          </div>
        <div class="clearfix"></div>
        <h2 class="tagline">EXPERT DESIGNERS AND DEVELOPERS WHO TURN IDEAS INTO PRODUCTION APPS</h2>
      </div>

    </header>

    <div id="ours" class="company our-work text-center">
      <div class="overlay"></div>
      <div class="container">
        <h2 class="title col-lg-10 col-lg-offset-1">OUR WORK</h2>
        <p class="col-lg-10 col-lg-offset-1">We like to solve problems for people. We spend our time tinkering. Trying to make useful products for people. Clients hire us to help them build their products as well. So, we interview potential customers. We sketch. We prototype. We make and ship working software. We measure use of the software and constantly strive to make it better.</p>
      </div>
    </div>

    

    <main class="ours text-center" role="main">
      <div class="container">
        <div class="highlight">
          <h3>Scratch</h3>
          <p class="col-lg-10 col-lg-offset-1">This is yet another note taking app. What makes it different from other note taking apps I can't really say. But it looks nice and you can send notes to other people. So that's good.</p>
          <div class="space-out col-lg-10 col-lg-offset-1">
            <img class="img-responsive" src="{{ root_url }}/images/scratch.png">
          </div>
        </div>

      </div>

      <div class="bridge">
        We believe great work should be represented by great work.
      </div>

      <div class="grid clearfix">
          <div class="col-lg-4">
            <div class="text-center">
              <a class="overlay">
                <div class="info midway-vertical midway-horizontal">
                  <h3>Work Grid</h3>
                  <p>Some description</p>
                </div>
              </a>
              <img class="img-responsive" src="{{ root_url }}/images/snapthumb.png">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center">
              <a class="overlay">
                <div class="info midway-vertical midway-horizontal">
                  <h3>Work Grid</h3>
                  <p>Some description</p>
                </div>
              </a>
              <img class="img-responsive" src="{{ root_url }}/images/snapthumb.png">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center">
              <a class="overlay extras">
                <div class="info midway-vertical midway-horizontal">
                  <h3>Coming Soon:<br>VERSUSMODE</h3>
                </div>
              </a>
              <img class="img-responsive" src="{{ root_url }}/images/snapthumb.png">
            </div>
          </div>
      </div>
    </main>

    <div id="theirs" class="company their-work text-center">
      <div class="overlay"></div>
      <div class="container">
        <h2 class="title col-lg-10 col-lg-offset-1">COMMISIONED WORK</h2>
        <p class="col-lg-10 col-lg-offset-1">We like to solve problems for people. We spend our time tinkering. Trying to make useful products for people. Clients hire us to help them build their products as well. So, we interview potential customers. We sketch. We prototype. We make and ship working software. We measure use of the software and constantly strive to make it better.</p>
      </div>
    </div>

    <main class="theirs text-center" role="main">
      <div class="container">
        <div class="highlight">
          <h3>Grouptweet</h3>
          <p>This is yet another note taking app. What makes it different from other note taking apps I can't really say. But it looks nice and you can send notes to other people. So that's good.</p>
          <div class="space-out col-lg-10 col-lg-offset-1">
            <img class="img-responsive" src="{{ root_url }}/images/scratch.png">
          </div>
        </div>
      </div>

      <div class="bridge">
        We believe great work should be represented by great work.
      </div>

      <div class="grid clearfix">
          <div class="col-lg-4">
            <div class="text-center">
              <a class="overlay">
                <div class="info midway-vertical midway-horizontal">
                  <h3>Work Grid</h3>
                  <p>Some description</p>
                </div>
              </a>
              <img class="img-responsive" src="{{ root_url }}/images/snapthumb.png">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center">
              <a class="overlay">
                <div class="info midway-vertical midway-horizontal">
                  <h3>Work Grid</h3>
                  <p>Some description</p>
                </div>
              </a>
              <img class="img-responsive" src="{{ root_url }}/images/snapthumb.png">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center">
              <a class="overlay extras">
                <div class="info midway-vertical midway-horizontal">
                  <h3>We've Worked With:<br>GROUPTWEET / MEGALINE CONCEPTS / CAMPUS CASA</h3>
                </div>
              </a>
              <img class="img-responsive" src="{{ root_url }}/images/snapthumb.png">
            </div>
          </div>
      </div>
    </main>
    
    

    <div class="contact text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 sizr-info">
            <h2>SIZR</h2>
            <p>info@sizr.net / 8123676393</p>
            <div class="social">
              <a class="twitter">Twitter</a>
              <a class="facebook">Facebook</a>
              <a class="dribbble">Dribbble</a>
            </div>
          </div>
          <div class="col-lg-6 text-left project">
            <h2>Work with us.</h2>
            <p>If you’d like to inquire about a project, please fill out our project inquiry form. The more information you give, the more you help us help you.
            <br><br>
            <strong>We’re currently accepting projects for January 2014.</strong></p>
            <div class="btn btn-primary btn-danger">Project Inquiry Form</div> or <a>Email Us</a>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer text-center" role="contentinfo">
      <div class="container">© 2013 SIZR LLC. All Rights Reserved. Have questions? Drop us a line.</div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ root_url }}/coamesponents/jquery.js"><\/script>');</script><script src="{{ root_url }}/coamesponents/jquery.js"></script>
    <script src="{{ root_url }}/jsa/esscripts.min.js"></script>

    <script>
    (function(f,i,r,e,s,h,l){i['GoogleAnalyticsObject']=s;f[s]=f[s]||function(){
    (f[s].q=f[s].q||[]).push(arguments)},f[s].l=1*new Date();h=i.createElement(r),
    l=i.getElementsByTagName(r)[0];h.async=1;h.src=e;l.parentNode.insertBefore(h,l)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-XXXXXXXX-XX');
    ga('send', 'pageview');
    </script>

  

</body></html>